.loginModalTitle {
  font-size: 34px;
  text-align: center;
  color: #424f5e;
  margin-bottom: 17px;
}

.formGroup {
  margin-top: 8px;
  text-align: left;
}

.submitButton button{
  margin-top: 8px;
  width: 100%;
}

.registerBtn button{
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: #c1c1cb;
  margin: 27px auto 50px auto;
}

.forgotPassLink {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #c1c1cb;
}
