.registerModalTitle {
  font-size: 34px;
  text-align: center;
  color: #424f5e;
  margin-bottom: 17px;
}

.formGroup {
  margin-top: 8px;
  text-align: left;
}

.formGroupAgreement {
  margin-top: 117px;
  margin-bottom: 36px;
}

.agreement {
  font-size: 16px;
  line-height: 120%;
  text-align: left;
  color: #424f5e;
}
