.container {
  max-width: 1240px + 30px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;

  @media (max-width: 1200px) {
    max-width: 960px + 30px;
  }
  @media (max-width: 992px) {
    max-width: 720px + 30px;
  }
  @media (max-width: 768px) {
    max-width: 540px + 30px;
  }
  @media (max-width: 576px) {
    max-width: auto;
  }
}

.btn {
  outline: none;
  border: none;
  background-color: inherit;
  padding: 6px 24px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.btnBlue {
  background: #3782da;
  color: #fff;
}

.btnBordered {
  border-radius: 10px;
}
