.featuredRestaurants {
  margin-top: 61px;
}

.title {
  font-size: 42px;
  line-height: 44px;
  color: #424F5E;
}
.subtitle {
  margin-top: 7px;
  font-size: 20px;
  line-height: 26px;
  color: #424F5E;
}

.results {
  margin-top: 28px;
}
